html{
  background-image: url(../background.jpeg);
}
#title{
  margin-right: 25%;
  margin-left: 25%;
  border: solid #b51f3f;
  color: white;
  background-color:#b51f3f; 
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
button{
  height: 140px;
  width: 340px;
}
form{
  background-color: #b51f3f;
  border: solid white;
  text-align: center;
  margin: 0px 25% 0px 25%;
}
input{
  font-size: 18px;
  width: 30%;
}
label{
  font-size: 25px;
  color: white;
}
.buttons{
  margin-top: 15px;
}
.submit{
  height: 40px;
  border: 2px;
  border-radius: 2px;
}
.submit:hover{
  background-color: #32CD32;
}
